{% extends "base.twig" %}
{% block title %}Home{% endblock %}
{% block javascript %}update.js{% endblock %}
{% block css_file %}profile.css{% endblock %}

{% block header %}

    <nav id="logoDropdown" class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="/profile">
            <img src="{{ srcProfileImg }}" id="imageUser"/>
        </a>
        <div class="navbar">
            <div class="dropdown" id="positionNameProfile">
                <button class="dropbtn" id="nameProfile">Carla Radresa
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="#">Edit profile</a>
                    <a href="#">Notifications</a>
                    <a href="#">Logout</a>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}

    {% for error in errors %}
        <p>{{ error }}</p>
    {% endfor %}

<div id="editProfile">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="buttonsEdit">
                    <div class="container">
                        <div class="row">
                            <input type="submit" value="Edit" class="buttonEditInfo" data-toggle="modal" data-target="#EditInformation">
                        </div>
                        <div class="row">
                            <input type="submit" value="Delete Account" class=" buttonEditInfo" data-toggle="modal" data-target="#DeleteAccount">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div id = "userInfo">
                    <form action="/" method="POST" enctype="multipart/form-data">
                        <h1>Your profile</h1>

                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <img {#src="{{ srcProfileImg }}"#} src="/assets/resources/user.png" id="CurrentImageUser" width="100" height="100">
                                </div>
                            </div>
                            <div id="infoProfile">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label class="floatLabel">Name:</label>
                                            <label class="floatLabel">{{ name }}</label>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="form-group">
                                            <label class="floatLabel">Username:</label>
                                            <label class="floatLabel">{{ username }}</label>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">

                                    <div class="col">
                                        <div class="form-group">
                                            <label class="floatLabel">Surname:</label>
                                            <label class="floatLabel">{{ surname }}</label>
                                        </div>
                                    </div>

                                    <div class="col">

                                        <div class="form-group">
                                            <label class="floatLabel">Email address:</label>
                                            <label id = "mail" class="floatLabel">{{ email }}</label>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">

                                    <div class="col">
                                        <div class="form-group">
                                            <label class="floatLabel">Birth date:</label>
                                            <label class="floatLabel">{{ birthDate }}</label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- Modal -->
    <div id="EditInformation" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Information</h4>
                </div>
                <div class="modal-body">
                    <form method="POST" enctype="multipart/form-data">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group" id="imageUserEditProfile">
                                        <img  src="{{ srcProfileImg }}" id="NewImageUser" width="100" height="100">
                                        <input id="buttonChange" default="assets/resources/profile.png" accept="image/*" type='file' name="image" onchange="readURL(this)" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col">

                                    <div class="form-group">
                                        <label class="floatLabel">New email address:</label>
                                        <input type="email" id = "mailUp" name="email" placeholder="Enter new email address">
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col">
                                    <div class="form-group">
                                        <label class="floatLabel">New Password:</label>
                                        <input type="password" id="passUp" name="password" placeholder="Enter new password">
                                        <span>Enter a correct password</span>
                                    </div>
                                </div>

                            </div>
                            <div class="row">

                                <div class="col">

                                    <div class="form-group">
                                        <label class="floatLabel">Confirm password:</label>
                                        <input type="password" id="passConfUp" name="confirmPassword" placeholder="Confirm the new password">
                                        <span>Enter a correct password</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <input type="submit"  value="Confirm Changes" onclick="updateDb()">
                </div>

            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="DeleteAccount" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Information</h4>
                </div>
                <div class="modal-body">

                    <p>Deleting your account will erase all folders and files that you have uploaded, including thos that are shared with other users!<p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="deleteUs()">Delete Account</button>
                </div>
            </div>
        </div>
    </div>



{% endblock %}