{% extends "base.twig" %}
{% block title %}Home{% endblock %}
{% block javascript %}home.js{% endblock %}
{% block css_file %}profile.css{% endblock %}
{% block content %}

    {% for error in errors %}
        <p>{{ error }}</p>
    {% endfor %}


    <div id = "userInfo">
        <form action="/inserir" method="POST" enctype="multipart/form-data">
            <h1>Register</h1>

            <div class="container">
                <div class="row">

                    <div class="col">
                        <img src="{{ srcProfileImg }}" id="CurrentImageUser" width="100" height="100">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label class="floatLabel">Name:</label>
                            <label class="floatLabel">{{ name }}</label>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label class="floatLabel">Username:</label>
                            <label class="floatLabel">{{ username }}</label>
                        </div>
                    </div>

                </div>
                <div class="row">

                    <div class="col">
                        <div class="form-group">
                            <label class="floatLabel">Surname:</label>
                            <label class="floatLabel">{{ surname }}</label>
                        </div>
                    </div>

                    <div class="col">

                        <div class="form-group">
                            <label class="floatLabel">Email address:</label>
                            <label class="floatLabel">{{ email }}</label>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col">
                        <div class="form-group">
                            <label class="floatLabel">Birth date:</label>
                            <label class="floatLabel">{{ birthDate }}</label>
                        </div>
                    </div>

                </div>

            </div>

            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#EditInformation">Edit Information</button>

        </form>
    </div>

    <!-- Modal -->
    <div id="EditInformation" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Information</h4>
                </div>
                <div class="modal-body">
                    <form action="/updateInfo" method="POST" enctype="multipart/form-data">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <img src="{{ srcProfileImg }}" id="CurrentImageUser" width="100" height="100">
                                        <input default="assets/resources/profile.png" accept="image/*" type='file' name="image" onchange="readURL(this)" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col">

                                    <div class="form-group">
                                        <label class="floatLabel">New email address:</label>
                                        <input type="email" name="email" placeholder="Enter new email address">
                                    </div>
                                </div>

                            </div>


                            <div class="row">

                                <div class="col">
                                    <div class="form-group">
                                        <label class="floatLabel">New Password:</label>
                                        <input type="password" name="password" placeholder="Enter new password">
                                        <span>Enter a correct password</span>
                                    </div>
                                </div>

                            </div>
                            <div class="row">

                                <div class="col">

                                    <div class="form-group">
                                        <label class="floatLabel">Confirm password:</label>
                                        <input type="password" name="confirmPassword" placeholder="Confirm the new password">
                                        <span>Enter a correct password</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <input type="submit"  value="Confirm Changes" onclick="">
                </div>

            </div>
        </div>
    </div>


{% endblock %}